<div 
    style="
        display: flex; 
        flex-wrap: wrap; 
        justify-content: left;
        align-content: center;
        background-color: #3F51B5;
        margin:auto
        ">
    <mat-toolbar style="margin-bottom: 20px">
        <span>SickFlix by Estorian</span>
        <span style="flex: 1 1 auto"></span>
        <button
            mat-icon-button
            (click)="this.logOutUser()"
        >
            <mat-icon>logout</mat-icon>
        </button>
    </mat-toolbar>
    <mat-card 
        *ngFor="let movie of movies; let i=index;"
        style="
            display: flex;
            flex-direction: column;
            margin: 20px;
            justify-content: center;
            align-content: center;
            align-items: center;
        ">
        <mat-card-header style="justify-content: center; text-align: center;">
            <mat-card-title>{{movie.Title}}</mat-card-title>
            <mat-card-subtitle>Directed by: {{movie.Director.Name}}</mat-card-subtitle>
        </mat-card-header>
        <img src={{movie.ImageURL}} alt={{movie.Title}}/>
        <mat-card-actions>
            <button
                mat-button
                color="primary"
                (click)="this.openGenreView(movie.Genre)"
            >Genre</button>
            <button
                mat-button
                color="primary"
                (click)="this.openDirectorView(movie.Director)"
            >Director</button>
            <button
                mat-button
                color="primary"
                (click)="this.openMovieDescription(movie)"
            >Synopsis</button>
            <button
                mat-button
                (click)="this.clickFavorite(movie._id)"
            >
                <mat-icon>{{isFavorite(movie._id) ? "favorite" : "favorite_border"}}</mat-icon>
            </button>
        </mat-card-actions>
   </mat-card>
</div>